@import "reset.css";
@import "footer.css";

.body {
  font-family: "Roboto", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
}

.texttop {
  font-size: 44px;
  font-family: "Montserrat", serif;
  color: antiquewhite;
  padding-bottom: 0;
  line-height: 2;
}

.textmiddle {
  width: 778px;
  font-size: 25px;
  font-family: "Montserrat", serif;
  color: rgb(240, 219, 194);
  line-height: 1.5;
  text-align: center;
}

.textbottom {
  padding-top: 40px;
  font-family: "Montserrat", serif;
  line-height: 2;
}

.textbottom:hover {
  text-decoration: underline;
}

.clickable {
  color: antiquewhite;
  font-size: 18px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 538px;
  background-image: url("../img/applemain.jpg");
  background-position: 50% 100%;
}

.navbar {
  display: flex;
  margin: 80px auto 50px auto;
  width: 960px;
  height: 36px;
  border-radius: 5px;
  background: white;
  background: linear-gradient(
      to bottom,
      rgba(76, 76, 76, 0.7) 0%,
      rgba(89, 89, 89, 0.7) 12%,
      rgba(102, 102, 102, 0.7) 25%,
      rgba(71, 71, 71, 0.7) 39%,
      rgba(44, 44, 44, 0.7) 50%,
      rgba(0, 0, 0, 0.7) 51%,
      rgba(17, 17, 17, 0.7) 60%,
      rgba(43, 43, 43, 0.7) 76%,
      rgba(28, 28, 28, 0.7) 91%,
      rgba(19, 19, 19, 0.7) 100%
    ),
    white;
}

.iconify {
  width: 20px;
  height: 20px;
}

.noorder {
  display: flex;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 35px;
  border-right: 1px solid rgb(87, 85, 85);
}

.list:hover:first-child {
  border-radius: 5px 0 0 5px;
}

.list:hover {
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    rgba(76, 76, 76, 1) 0%,
    rgba(89, 89, 89, 1) 12%,
    rgba(102, 102, 102, 1) 25%,
    rgba(71, 71, 71, 1) 39%,
    rgba(44, 44, 44, 1) 50%,
    rgba(0, 0, 0, 1) 51%,
    rgba(17, 17, 17, 1) 60%,
    rgba(43, 43, 43, 1) 76%,
    rgba(28, 28, 28, 1) 91%,
    rgba(19, 19, 19, 1) 100%
  );
}

input {
  display: inline-block;
  height: 20px;
  width: 125px;
  border: 1px solid rgb(124, 115, 115);
  box-shadow: inset 0px 2px 2px rgb(27, 27, 27),
    inset 0px -2px 2px rgb(105, 102, 102);
  border-radius: 15px;
  margin-top: 8px;
  margin-left: -25px;
  padding-left: 5px;
  padding-top: 3px;
  background: transparent;
}

.searchglass {
  padding-left: 25px;
  color: white;
}

.Top {
  color: rgb(228, 218, 218);
  text-shadow: 1px 1px gray;
}
